@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0f172a;
  font-family: 'Inter', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

::selection {
  background: rgba(6, 182, 212, 0.3);
  /* Cyan 500 equivalent with opacity */
  color: #fff;
}

.bg-grid-pattern {
  background-size: 40px 40px;
  background-image:
    linear-gradient(to right, rgba(255, 255, 255, 0.05) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #1e293b;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #334155;
}

@keyframes glow {

  0%,
  100% {
    filter: drop-shadow(0 0 5px rgba(59, 130, 246, 0.5));
  }

  50% {
    filter: drop-shadow(0 0 15px rgba(59, 130, 246, 0.8));
  }
}

.animate-glow {
  animation: glow 2s infinite;
}